/*при наведении курсором на инпуты или допустим иконки у них увеличивается outline , а не border, оцентровка проводится посредством заключения блоков в div и записей маргинов и паддингов и базовой ширины.*/

body,
html {
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

body {
  width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

/* постоянные стили для ссылок, списков, кнопок, инпутов и visually-hidden*/
a {
  font-weight: bold;
  color: #ffffff;
}

ul {
  list-style: none; /*пока еще не ставил классы*/
  padding: 0;
  margin: 0;
}

.button {
  display: inline-block;
  background-image: linear-gradient(to bottom, #f26843, #e74b36);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 25px;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="search"],
input[type="password"] {
  height: 38px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid rgb(178, 178, 178);
  box-shadow: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*стили хедера гл.стр.*/
.main-header {
  font-family: "Roboto";
  color: #ffffff;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -4px;   /*без отриц. маргина не получается выравнить телефоны и дальнейшую сетку*/
}

.main-header-logo {
  display: inline-block;
  margin-left: 28px;
  margin-top: 11px;
  align-self: center;
}

.header-navigation-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 450px;
  margin-left: 10px;
}

.site-navigation-element {
  margin-right: 1px;
  padding: 7px 14px 7px 13px;
  border-radius: 20px;
}

.site-navigation-link {
  display: block;
  vertical-align: middle;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.site-navigation-element:hover {
  background-color: #f7f6f3;
}

.site-navigation-element:hover .site-navigation-link {
  border-bottom: none;
  color: #323232;
}

.site-navigation-element:first-child  {
  position: relative;
}

.site-navigation-element:hover .site-menu {
  display: block;
}

.site-menu {
  display: none;
  position: absolute;
  top: 37px;
  left: -7px;
  width: 144px;
  min-height: 172px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
} 

.site-menu li:hover:not(:first-child) { 
  background-color: #fbded8; 
}

.site-menu a {
  color: #323232;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.site-menu li {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-top: 4px;
}

.site-menu li:nth-of-type(1) a {
  font-weight: bold;
}

.site-menu li:nth-of-type(1) {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 9px;
  padding-bottom: 11px;
  border-bottom: 1px solid #323232;
  margin-right: 6px;
  margin-left: 6px;
} 

.site-menu li:nth-of-type(2) {
  padding-top: 8px;
} 

.user-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 450px;
  margin-right: 27px;
}

.user-navigation li {
  display: block;
  vertical-align: middle;
  text-align: center;
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.icon-search {
  position: relative;
  max-width: 25px;
  background-color: #9eb3a8;
  border-radius: 50%;
  padding: 16px 16px 16px 16px;
}

.icon-search span {
  display: inline-block;
  vertical-align: middle;
}

.icon-search::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-gllacy/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 7px;
  top: 7px;
  width: 22px;
  height: 21px;
}

.icon-search:hover {
  position: relative;
  background-color: #f8f7f4; 
}

.icon-search:hover::before {
  background-image: url("../img/svg-gllacy/loupe-active.svg");
}

.icon-login {
  max-width: 100px;
  background-color: #9eb3a8;
  border-radius: 20px;
  padding: 8px 17px 8px 17px;
}

.icon-login span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 27px;
}

.icon-login span::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-gllacy/white-entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -1px;
  top: -2px;
  width: 21px;
  height: 20px;
}

.icon-login:hover {
  position: relative;
  background-color: #f8f7f4;
  color: #323232;
}

.icon-login:hover span::before {
  background-image: url("../img/svg-gllacy/entrance.svg");
}

.icon-basket-empty {
  max-width: 100px;
  background-color: #9eb3a8;
  border-radius: 20px;
  padding: 8px 16px 8px 17px;
}

.icon-basket-empty span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 27px;
}

.icon-basket-empty span::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-gllacy/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -1px;
  top: -2px;
  width: 22px;
  height: 21px;
}

.icon-basket-empty:hover {
  position: relative;
  background-color: #f8f7f4;
  color: #323232;
}

.icon-basket-empty:hover span::before {
  background-image: url("../img/svg-gllacy/basket-active.svg");
}

.icon-search:hover .site-seacrh {
  display: block;
}

.site-seacrh {
  display: none;
  position: absolute;
  right: 1px;
  top: 35px;
  width: 341px;
  min-height: 86px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.site-seacrh input[type="search"] {
  width: 310px;
  height: 44px;
  margin: 21px 16px;
  padding-left: 14px;
}

.icon-login:hover .site-entry {
  display: block;
}

.site-entry {
  display: none;
  position: absolute;
  right: 0px;
  top: 35px;
  width: 278px;
  min-height: 214px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.site-entry 
input[type="email"],
input[type="password"] {
  width: 242px;
  height: 44px;
  margin: 20px 20px 0px 18px;
  padding-left: 14px;
}

.site-entry .button {
  position: absolute;
  left: 17px;
  top: 149px;
  padding: 10px 26px;
  font-size: 18px;
  line-height: 24px;
}

.site-entry p {        
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px 0px 139px;
}

.site-entry a:nth-of-type(1) {
  margin-top: 0px;
  margin-bottom: -3px;
}

.site-entry a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: underline #323232;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold; 
  margin-top: 0px;
  margin-bottom: 0px;
  
  margin-right: 26px;
}

.phone a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 4px;
  margin-right: 0px;
}

/*стили основной части гл.стр.*/
.container {
  font-family: "Roboto";
  color: #ffffff;
}

.main-slider h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 60.35px;
}

.main-slider a {   
  font-size: 32px;
  line-height: 44px;
  padding: 7px 25px;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columns .first-column {
  width: 560px;
  min-height: 230px;
  background-image: url("../img/raspberries-background.jpg");
  background-position: -49px -94px;  
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-left: 27px;
}

.columns .second-column {
  width: 560px;
  min-height: 230px;
  background-image: url("../img/chocolate-background.jpg");
  background-position: -217px -104px;
  background-repeat: no-repeat;
  border-radius: 15px; 
  margin-right: 27px;
}

.columns h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-top: 17px;
  margin-left: 19.5px;
  margin-bottom: 0px;
}

.columns p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 0;
}

.columns a {
  font-size: 18px;
  line-height: 24px;
  margin-top: 44px;
}

.first-column a {
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 11px;
  padding-top: 11px;
  margin-left: 375px;
  margin-right: 21px;
}

.second-column a {
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 11px;
  padding-top: 10px;
  margin-left: 351px;
  margin-right: 21px;
}

.hits {
  display: flex;
  flex-direction: row;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.catalog-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 267px;
  min-height: 350px;
  padding-left: 13px;
  padding-right: 13px;
}

.catalog-item::before {
  display: none;
  position: absolute;
  top: 10px;
  left: 0px;
  content: "";
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  opacity: 0.2;
  width: 294px;
  min-height: 405px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover::before {
  display: block;
}

.catalog-item:hover a  {
  display: block;
  margin-bottom: -50px;
}

.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
  order: 1;
}

.catalog-item-title span {
  border-bottom: 1px solid #9db1a5;
}

.catalog-list img {
  border-radius: 50%;
}

.catalog-item-image {
  position: relative;
  margin-bottom: 0px;
}

.catalog-item-image::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-gllacy/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: red;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
}

.catalog-item-image .catalog-item-price  {
  position: absolute;
  top: 209px;
  left: -1px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.catalog-item-image .catalog-item-price::after {
  position: absolute;
  content: "";
  background-image: url("../img/svg-gllacy/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 6px;
  left: 80px;
  width: 28px;
  height: 35px;
}

.catalog-item-image .catalog-item-weight {
  position: absolute;
  width: 50px;
  top: 5px;
  left: 112px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 500; 
}

.catalog-list a {
  display: none;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
  padding: 7px 18px 11px 18px;
  align-self: center;
  order: 2;
  z-index: 50;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1146px;
  min-height: 308px; 
  background-image: url("../img/wafer.jpg");
  border-radius: 15px;
  color: #323232;
  margin-left: 27px;
  margin-right: 27px;
}

.features-list {
  display: flex;
  flex-direction: row;
}

.features-element {
  position: relative;
}

.first-column-list .features-element {
  padding: 0px 0px 0px 76px;
  margin: 0px;
}

.second-column-list .features-element {
  padding: 0px 22px 0px 57px;
  margin: 0px;
}

.first-column-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 562px;
  margin-right: 12.5px;
}

.second-column-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 562px;
  margin-left: 12.5px;
}

.features h2 {
  width: 100%;
  text-align: justify;
  align-self: center;
  flex-grow: 1;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 15px 109px 5px 20px;
}

.features-list p {
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin: 0px;
}

.features-element .icon-leaf,
.features-element .icon-thermometer {
  margin-top: 0px;
  padding-top: 13px;
}

.features-element .icon-icecream,
.features-element .icon-cow {
  margin-bottom: 0px;
  padding-bottom: 8px;
}

.icon-icecream::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-gllacy/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -13px;
  left: 19px;
  width: 50px;
  height: 50px;
}

.icon-cow::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-gllacy/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -13px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.icon-leaf::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-gllacy/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 1px;
  left: 19px;
  width: 50px;
  height: 50px;
}

.icon-thermometer::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-gllacy/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 1px;
  left: 0px;
  width: 50px;
  height: 50px;
}

.news {
  width: 560px;
  min-height: 220px; 
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  background-position: -51px -86px;
  border-radius: 15px;
  margin-left: 27px;
}

.news h3 {
  color: black;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-top: 24px;
  margin-left: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.news a {
  display: inline-block;
  color: black;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 20px;
  margin-right: 255px;
}

.form-send {
  width: 560px;
  min-height: 220px;
  background-color: #f8f7f4;
  background-image: url("../img/formsend-gradient.png");
  background-position: -4px 8px;
  border-radius: 15px;
  margin-right: 27px;
  padding: 0px;
}

.form-send-background {
  width: 550px;
  min-height: 210px;
  background-image: url("../img/substrate.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 15px;
  margin: 5px;
}

.form-send-background p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #5a5a5a;
  margin: 0px;
  padding-top: 30px;
  padding-left: 23px;
  padding-right: 10px;
}

.send button {
  font-size: 18px;
  line-height: 24px;
  margin-left: 8px;
  padding-right: 19px;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.send input[type="email"] {
  width: 368px;
  height: 45px;
  padding-left: 13px;
  margin-left: 22px;
  margin-top: 36px;
} 

.map {
  position: relative;
  width: 100%;
  min-height: 432px;
  background-image: url("../img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;  
}

.map-content {
  position: absolute;
  top: 63px;
  right: 26px;
  padding: 0px;
  width: 302px;
  min-height: 305px;
  background-color: #fffffe;
  border-radius: 15px;
}

.map-content p {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;
  margin: 29px 0px 1px 24px;
}

.map-content span {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  margin: 0px 40px 0px 24px;
}

.map-content p:nth-of-type(2) {
  margin: 18px 80px 0px 24px;
}

.map-content a {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  text-decoration: none;
  margin: 4px 0px 0px 24px;
}

.map-content p:nth-of-type(3) {
  margin: 2px 80px 0px 24px;
}

.map-content .button {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 23px 0px 0px 25px;
  padding: 10px 27px 11px;
}

/*стили футера гл.стр.*/
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  color: #ffffff;
  margin-left: 27px; 
  margin-right: 27px;
} 

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 267px;
}

.social-list li {
  position: relative;
}

.social-button-tw::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 1px;
  background-image: url("../img/svg-gllacy/twitter.svg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.502);
}

.social-button-inst::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -39px;
  background-image: url("../img/svg-gllacy/instagram.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.502);
}

.social-button-fb::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -79px;
  background-image: url("../img/svg-gllacy/fb.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.502);
}

.social-button-vk::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -119px;
  background-image: url("../img/svg-gllacy/vk.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.502);
}

.contacts-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 560px;
  margin-top: 27px;
  padding: 0;
}

.contacts-footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 310px;
  padding 0;
  margin-left: 8px;
}

.contacts-footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-footer-columns:nth-of-type(odd) {
  margin: 0 62px 0 0px ;
  padding: 0;
}

.contacts-footer-columns:nth-child(even) {
  margin: -6px 0px 0 0px ;
  padding: 0px 6px 0 0px ;
}

.contacts-link a {
  font-size: 13px;
  line-height: 28px;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.icon-heart a {
  font-weight: bold;
}

.icon-heart {
  position: relative;
}

.icon-heart a::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -22px;
  background-image: url("../img/svg-gllacy/heart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.footer-copyright {
  text-align: center;
  width: 267px;
  margin: 16px 0 0 0px;
  padding-left: 0px; 
}

.footer-copyright p {
  text-align: right;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.main-footer-link {
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

/*попап*/
.feedback {
  width: 430px;
  min-height: 400px;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 17px 24px 26px 24px;
}

.feedback span {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #323232;
}

.form-feedback {
  margin-top: 22px;
}

.form-feedback 
input[type="text"],
input[type="email"],
textarea {
  padding: 14px; 
  margin-bottom: 20px;
}

.form-feedback 
input[type="text"],
input[type="email"] {
  width: 267px;
}

.form-feedback textarea {
  width: 400px;
  height: 155px;
  margin-bottom: 15px;
}

/*Стили внутренней страницы*/

.inner-page {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

/*стили хедера вн.стр*/

.site-navigation .catalog-button {
  background: #d07058;
  padding: 8px 15px;
  box-shadow: none;
}

/*стили осн. части вн.стр.*/

.catalog-list h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.catalog-list img {
  border-radius: 50%;
}

.catalog-item-price  {
  font-size: 30px;
  line-height: 45px;
  font-weight: 500; 
}

.catalog-item-price span {
  font-size: 20px;
  line-height: 45px;
  font-weight: 500; 
}

.catalog-list a {
  font-size: 18px;
  line-height: 24px;
}
