/*@font-face {
  font-family: "Roboto";
  src: url("roboto.eot");
  src: local("Roboto"), local("Roboto Bold"), local("Roboto Medium"),
       url("roboto.eot?#iefix") format("embeddded-opentype"), 
       url("roboto.woff") format("woff");
}*/

body,
html {
  margin: 0;
  padding: 0;
  width: 1200px;
}

body {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

/* постоянные стили для ссылок, списков, кнопок, инпутов и visually-hidden*/
a {
  font-weight: bold;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

.button {
  background-image: linear-gradient(90deg, #f26843, #e74b36);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 25px;
  text-decoration: none;
  padding: 10px 15px;
  color: #ffffff;
  font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="search"],
input[type="password"] {
  height: 38px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid rgb(178, 178, 178);
  box-shadow: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*стили хедера гл.стр.*/
.main-header {
  font-family: "Roboto";
  color: #ffffff;
}

.main-navigation .site-navigation a {
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.site-menu {
  width: 142px;
  height: 172px;
  background-color: #f8f7f4;
  border-radius: 5px;
} 

.site-menu li:hover:not(:first-child) { 
  background-color: #fbded8; 
}

.site-menu a {
  color: #323232;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.site-menu li {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 5px;
}

.site-menu li:nth-of-type(1) a {
  font-weight: bold;
}

.site-menu li:nth-of-type(1) {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 11px;
  border-bottom: 1px solid #323232;
  margin-right: 6px;
  margin-left: 6px;
} 

.site-menu li:nth-of-type(2) {
  padding-top: 10px;
} 

.site-seacrh {
  width: 341px;
  height: 84px;
  border-radius: 5px;
  background-color: #f8f7f4;
}

.site-seacrh input[type="search"] {
  width: 309px;
  height: 44px;
  margin: 21px 16px;
  padding-left: 14px;
}

.site-entry {
  width: 278px;
  height: 214px;
  border-radius: 5px;
  background-color: #f8f7f4;
}

.site-entry 
input[type="email"],
input[type="password"] {
  width: 240px;
  height: 44px;
  margin: 20px 20px 0px 20px;
  padding-left: 14px;
}

.site-entry .button {
  padding: 13px 25px;
  margin: 20px;
}

.site-entry p {        /*некорректное нажатие на кнопку из-за магинов ссылок*/
  white-space: pre;
  text-align: left;
  margin: -84px 0 0 60px;
}

.site-entry p a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: underline #323232;
}

.phone {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold; 
}

.phone a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

/*стили основной части гл.стр.*/
.container {
  font-family: "Roboto";
  color: #ffffff;
}

.main-slider h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 60.35px;
}

.main-slider a {   
  font-size: 32px;
  line-height: 44px;
  padding: 7px 25px;
}

.columns .first-column {
  width: 560px;
  height: 230px;
  background-image: url("/GitHub/777913-gllacy/img/raspberries-background.jpg");
  background-position: -50px -94px;
  background-position: no-repeat;
  border-radius: 15px;
  
}

.columns .second-column {
  width: 560px;
  height: 230px;
  background-image: url("/GitHub/777913-gllacy/img/chocolate-background.jpg");
  background-position: -217px -105px;
  background-position: no-repeat;
  border-radius: 15px; 
}

.columns h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.columns p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.columns a {
  font-size: 18px;
  line-height: 24px;
}

.hits .catalog-list h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  border-bottom: 1px solid #9db1a5;
}

.hits .catalog-list img {
  border-radius: 50%;
}

.hits .catalog-list .catalog-item-price  {
  font-size: 30px;
  line-height: 45x;
  font-weight: 500; 
}

.hits .catalog-list .catalog-item-price span {
  font-size: 20px;
  line-height: 45x;
  font-weight: 500; 
}

.hits .catalog-list a {
  font-size: 18px;
  line-height: 24x;
}

.features {
  width: 1146px;
  height: 308px; 
  background-image: url("/GitHub/777913-gllacy/img/Вафля.jpg");
  border-radius: 15px;
  color: black;
}

.features h2 {
  font-size: 24px;
  line-height: 30x;
  font-weight: 500;
}

.features .features-list p {
  font-size: 16px;
  line-height: 22x;
  font-weight: normal;
}

.news {
  width: 560px;
  height: 220px; 
  background-image: url("/GitHub/777913-gllacy/img/Клубничный фон.jpg");
  background-repeat: no-repeat;
  background-position: -52px -86px;
  border-radius: 15px;
}

.news h3 {
  color: black;
  font-size: 16px;
  line-height: 22x;
  font-weight: 500;
}

.news a {
  font-size: 24px;
  line-height: 30x;
  font-weight: bold;
  color: black;
}

.form-send {
  width: 560px;
  height: 220px;
  background-color: #f8f7f4;
  background-image: url("/GitHub/777913-gllacy/img/Рамка формы отправки.png");
  border-radius: 15px;
}

.form-send p {
  font-size: 16px;
  line-height: 22x;
  font-weight: normal;
  color: #5a5a5a;
}

.form-send .send button {
  font-size: 18px;
  line-height: 24px;
}

.form-send .send input[type="email"] {
  width: 338px;
  padding: 15px;
} 

.map {
  width: 1200px;
  height: 432px;
  background-image: url("/GitHub/777913-gllacy/img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;  
}

.map .map-content {
  padding: 20px;
  width: 262px;
  height: 263px;
  background-color: #fffffe;
  border-radius: 15px;
}

.map .map-content p {
  white-space: pre;
  text-align: left;
  padding-left: 0px;
  
  font-size: 14px;
  line-height: 20x;
  font-weight: normal;
  color: #323232;
}

.map .map-content p span {  /*как сделать соответствие макету?*/
  white-space: pre;
  text-align: left;
  padding: 0px;
}

.map .map-content p a {
  margin: 10px;
  text-align: center;
}

.map .map-content a {
  font-size: 18px;
  line-height: 24x;
  font-weight: bold;
  color: #323232;
  text-decoration: none;
}

.map .map-content .button {
  font-size: 18px;
  line-height: 24x;
  color: #ffffff;
}

.map .map-content span {
  font-size: 18px;
  line-height: 24x;
  font-weight: bold;
  color: #323232; 
}

/*стили футера гл.стр.*/
.main-footer {
  font-family: "Roboto";
  color: #ffffff;
} 

.contacts-footer .contacts-link a {
  font-size: 13px;
  line-height: 28x;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.contacts-footer .icon-heart a {
  font-weight: bold;
}

.contacts-footer .icon-heart {
  background-image: url("/GitHub/777913-gllacy/img/svg-gllacy/heart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18x;
  font-weight: normal;
  color: #ffffff;
}

.footer-copyright p a {
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.feedback {
  width: 430px;
  height: 400px;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 17px 24px 26px 24px;
}

.feedback span {
  font-size: 24px;
  line-height: 28x;
  font-weight: bold;
  color: #323232;
}

.feedback .form-feedback {
  margin-top: 23px;
}

.feedback .form-feedback 
input[type="text"],
input[type="email"],
textarea {
  padding: 14px; 
  margin-bottom: 20px;
}

.feedback .form-feedback 
input[type="text"],
input[type="email"] {
  width: 267px;
}

.feedback .form-feedback textarea {
  width: 400px;
  height: 155px;
  margin-bottom: 15px;
}